@use '../abstracts/variables.scss' as *;
@use '../abstracts/mixins.scss' as *;

.map-section {
    min-height: 37.5rem;

    .map-section__inner {
        @extend %wrap;
        display: flex;

        @include SM-styles {
            padding-inline: 0;
        }
    }
}

.leaflet-tile {
    filter: saturate(0%) !important;
}