@use '../abstracts/variables.scss' as *;
@use '../abstracts/mixins.scss' as *;

.our-location {
    background-color: $color-base-terietry;
    padding-block: 6.875rem;

    @include MD-styles {
        padding-block: 5.625rem;
    }

    @include SM-styles {
        padding-block: 3.125rem;
    }

    .our-location__inner {
        @extend %wrap;
        display: flex;
        justify-content: space-between;

        @include SM-styles {
            flex-direction: column;
        }

        .our-location__title {
            h1 {
                font-size: $font-size-headidng-larger;
                color: $color-base-secondary;
                line-height: 70px;
                width: 70%;

                @include MD-styles {
                    font-size: $font-size-headidng-between;
                    line-height: 55px;
                }

                @include SM-styles {
                    font-size: $font-size-headidng-medium;
                    line-height: 45px;
                    width: 100%;
                    margin-bottom: 2.375rem;
                }
            }
        }

        .our-location__text {
            width: 49%;
            color: $color-base-secondary;

            @include SM-styles {
                width: 100%;
            }

            ul {
                margin-bottom: 1.5rem;
            }

            ul,
            p {
                font-size: $font-size-large;
                line-height: 28px;
            }

            h2 {
                font-size: $font-size-headidng-small;
                line-height: 32px;
                color: $color-base-quintary;
                margin-bottom: 1.5rem;

                @include MD-styles {
                    font-size: $font-size-headidng-smaller;
                }
            }
        }
    }
}