@use './variables' as *;

@mixin SM-styles {
    @media (max-width:730px) {
        @content;
    }
}

@mixin MD-styles {
    @media (max-width:1270px) {
        @content;
    }
}

%wrap {
    margin-left: auto;
    margin-right: auto;

    padding-left: 10.5rem;
    padding-right: 10.5rem;

    @include MD-styles {
        padding-left: 1.563rem;
        padding-right: 1.563rem;
    }

    @include SM-styles {
        padding-left: 1.125rem;
        padding-right: 1.125rem;
    }
}